{% extends "inc/base.html" %}
{% load static %}

{% block info-user %}
    {% if user_data %}
        {% include "inc/is_authorized_user.html" %}
    {% else %}
        {% include "inc/not_authorized_user.html" %}
    {% endif %}
{% endblock %}

{% block first-row %}
  <h1 class="mt-5" style="display: inline; margin-right: 30px">New question</h1>
{% endblock %}

{% block content %}
<form method="post" action="{% url 'index' %}" name="ask">
<!--          title-->
  <div class="row">
    <div class="col-2">Title</div>
    <div class="col-9">
      <input class="form-control me-2 pole" type="search" name="title">
    </div>
  </div>
<!--          text-->
  <div class="row">
    <div class="col-2">Text</div>
    <div class="col-9">
      <textarea class="form-control me-2 pole" type="search" rows = "15" name="text" style="resize: none; width: 100%"></textarea>
    </div>
  </div>
<!--          tags-->
  <div class="row">
    <div class="col-2">Tags</div>
    <div class="col-9">
      <input class="form-control me-2 pole" name="tags" type="search">
    </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-9">
      <button class="btn btn-outline-success" type="submit">Ask</button>
    </div>
  </div>
</form>
{% endblock %}




