{% extends "inc/base.html" %}
{% load static %}


{% block info-user %}
  {% include "inc/not_authorized_user.html" %}
{% endblock %}

{% block first-row %}
  <h1 class="mt-5" style="display: inline; margin-right: 30px">Log in</h1>
{% endblock %}

{% block content %}
<div id="wrong_password" class="pole">
    Sorry, wrong password!
</div>
<!--здесь должен быть метод post но с ним без cookies не получалось-->
<form class="needs-validation" novalidate="" method="get" action="{% url 'index' %}">
  <div class="row pole">
    <div class="col-2">
      Login
    </div>
    <div class="col-5">
      <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
    </div>
  </div>

  <div class="row pole">
    <div class="col-2">
      Password
    </div>
    <div class="col-5">
      <input type="password" class="form-control pole" id="lastName" placeholder="" value="" required="">
      <button class="btn btn-primary btn-lg" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Log in!</font></font></button>
    </div>
  </div>

  <hr class="my-3">
  <div class="row"><div class="col-2"></div><div class="col-5"><a href="{% url 'signup' %}">Create new account</a></div></div>
</form>

{% endblock %}
