{% extends "inc/base.html" %}
{% load static %}


{% block info-user %}
    {% if user_data %}
        {% include "inc/is_authorized_user.html" %}
    {% else %}
        {% include "inc/not_authorized_user.html" %}
    {% endif %}
{% endblock %}


{% block content %}
  <div class="question" style="border: 2px; height: auto">
  <div class="row">
    <div class="col-3">
      <div class="question-avatar">
        <img src="{% static question.author.avatar %}" alt="avatar">
      </div>
      <div class="div-like">
        <button class="button-like"><img src="{% static 'img/like.svg' %}"></button>
        <span>5</span>
      </div>
    </div>
    <div class="col-8">
      <h2> {{ question.title }} </h2>
      <div class="question-text">
          {{ question.text }}
      </div>
      <div>
        Tags <a href="#">black_jack</a>, <a href="#">black_jack</a>
      </div>
    </div>
  </div>
  </div>

  <hr class="my-4">

  <!--          ответы -->
  
  {% for response in responses %}
    {% include "inc/answer_item.html" %}
  {% endfor %}

  <!-- add answer-->
  <hr class="my-4">
  <form method="post" action="#" style="margin-bottom: 10px">
  <textarea class="form-control me-2 question-text" type="search" rows="8" name="answer" style="resize: none; width: 100%" placeholder="Enter your answer here..."></textarea>
  <button class="btn btn-outline-success" type="submit">Answer</button>
  </form>

{% endblock %}
