{% extends "inc/base.html" %}
{% load static %}
{% load bootstrap5 %}


{% block info-user %}
    {% if user_data %}
        {% include "inc/is_authorized_user.html" %}
    {% else %}
        {% include "inc/not_authorized_user.html" %}
    {% endif %}
{% endblock %}


{% block content %}
  <div class="question" style="border: 2px; height: auto">
  <div class="row">
    <div class="col-3">
      <div class="question-avatar">
        <img src="{{ question.author.avatar.url }}" alt="avatar">
      </div>

      {% include "inc/valuation.html" %}

    </div>
    <div class="col-8">
      <h2> {{ question.author.user.first_name }}  {{ question.author.user.last_name }} </h2>
      <h3> {{ question.title }} </h3>
      <div>
          {{ question.text|linebreaksbr }}
      </div>
      <div style="margin-top: 15px">
        Tags
        {% for tag in question.tags.all %} <a href="{% url 'tag' tag %}">{{ tag }}</a> {% endfor %}
      </div>
    </div>
  </div>
  </div>

  <hr class="my-4">

  <!--          ответы -->
  <div id="list-answers">
    {% for answer in page_obj %}
      {% include "inc/answer_item.html" %}
    {% endfor %}
  </div>

  {% include "inc/paginator.html" %}

  <!-- add answer-->
  <hr class="my-4">

  <form id="answer-form" method="post" action="#" style="margin-bottom: 10px" name="question">
    {% csrf_token %}
    {% bootstrap_form form %}

    <button class="btn btn-outline-success" type="submit">Answer</button>
  </form>

  <div id="centrifugo-conf" style="display: none"
    data-address="{{ server_address }}" data-chan="{{ chan_id }}" data-token="{{ secret_token }}"></div>

  <script src="{% static 'js/jquery-3.7.0.min.js' %}" defer></script>
  <script src="{% static 'js/main.js' %}" defer></script>
  <script src="{% static 'js/check_answer.js' %}" defer></script>
  <script src="{% static 'js/centrifuge.js' %}" defer></script>
  <script src="{% static 'js/real-time-answer.js' %}" defer></script>

{% endblock %}
