{% extends "inc/base.html" %}
{% load static %}


{% block info-user %}
    {% if user_data %}
        {% include "inc/is_authorized_user.html" %}
    {% else %}
        {% include "inc/not_authorized_user.html" %}
    {% endif %}
{% endblock %}


{% block content %}
  <div class="question" style="border: 2px; height: auto">
  <div class="row">
    <div class="col-3">
      <div class="question-avatar">
        <img src="../static/img/user1.png" alt="avatar">
      </div>
      <div class="div-like">
        <button class="button-like"><img src="../static/img/like.svg"></button>
        <span>5</span>
      </div>
    </div>
    <div class="col-8">
      <h2>Awesome question {{ question_id }} </h2>
      <div class="question-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fringilla est ullamcorper eget nulla. Habitasse platea dictumst quisque sagittis purus sit amet volutpat.
      </div>
      <div>
        Tags <a href="#">black_jack</a>, <a href="#">black_jack</a>
      </div>
    </div>
  </div>
  </div>

  <hr class="my-4">

  <!--          ответы -->
  <div class="answer">
  <div class="row">
    <div class="col-3">
      <div class="answer-avatar">
        <img src="../static/img/user1.png" alt="avatar">
      </div>
      <div class="div-like">
        <button class="button-like"><img src="../static/img/like.svg"></button>
        <span>5</span>
      </div>
    </div>
    <div class="col-8">
      <div class="answer-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fringilla est ullamcorper eget nulla. Habitasse platea dictumst quisque sagittis purus sit amet volutpat.
      </div>
      <div class="row">
        <p><input class="correct" type="checkbox" name="correct" value="true">Correct!</p>
      </div>
    </div>
  </div>
  </div>

  <div class="answer">
  <div class="row">
    <div class="col-3">
      <div class="answer-avatar">
        <img src="../static/img/user2.jpeg" alt="avatar">
      </div>
      <div class="div-like">
        <button class="button-like"><img src="../static/img/like.svg"></button>
        <span>5</span>
      </div>
    </div>
    <div class="col-8">
      <div class="answer-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fringilla est ullamcorper eget nulla. Habitasse platea dictumst quisque sagittis purus sit amet volutpat.
      </div>
      <div class="row">
        <p><input class="correct" type="checkbox" name="correct" value="true">Correct!</p>
      </div>
    </div>
  </div>
  </div>

  <div class="answer">
  <div class="row">
    <div class="col-3">
      <div class="answer-avatar">
        <img src="../static/img/user3.png" alt="avatar">
      </div>
      <div class="div-like">
        <button class="button-like"><img src="../static/img/like.svg"></button>
        <span>5</span>
      </div>
    </div>
    <div class="col-8">
      <div class="answer-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fringilla est ullamcorper eget nulla. Habitasse platea dictumst quisque sagittis purus sit amet volutpat.
      </div>
      <div class="row">
        <p><input class="correct" type="checkbox" name="correct" value="true">Correct!</p>
      </div>
    </div>
  </div>
  </div>

  <!-- add answer-->
  <hr class="my-4">
  <form method="post" action="#" style="margin-bottom: 10px">
  <textarea class="form-control me-2 question-text" type="search" rows="8" name="answer" style="resize: none; width: 100%" placeholder="Enter your answer here..."></textarea>
  <button class="btn btn-outline-success" type="submit">Answer</button>
  </form>

{% endblock %}
