{% load static %}

<div class="answer" style="height: auto">
    <div class="row">
        <div class="col-3">
        <div class="answer-avatar">
            <img src="{{ answer.0.author.avatar.url }}" alt="avatar">
        </div>
        <div class="div-like">
            <button class="button-like"><img src="{% static 'img/like.svg' %}"></button>
            <span>{{ answer.1 }}</span>
        </div>
        </div>
        <div class="col-8">
        <div style="min-height: 140px">
         {{ answer.0.text }}
        </div>
        <div class="row">
            <p><input class="correct" type="checkbox" name="correct" value="true" {% if answer.0.correct %} checked {% endif %}>Correct!</p>
        </div>
        </div>
    </div>
</div>